.todoAppHeading {
  font-weight: 700 !important;
  font-size: 40px !important;
  margin: 10px 10px 30px 0;
}

input {
  width: 300px;
}

.todo-items {
  text-align: left;
}

.kg-row {
  margin: 10px !important;
}

.kg-button {
  min-width: 100px !important;
}